@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&family=Yeseva+One&display=swap');

/* 
font-family: 'Noto Serif KR', serif;
font-family: 'Yeseva One', cursive; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33.333%;
}



textarea:focus, input:focus {
    outline: none;
}

input::placeholder {
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    color: gray;
}


/* inicio */

.header {
    font-family: 'Noto Serif KR', serif; 
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 15px 2%;
    color: white;
}

.header__logo {
    font-size: 20px;
}

.header__nav__desktop {
    font-size: 15px;
    position: relative;
    top: 26px;
}

.header__nav__mobile {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.89);
    text-align: center;

}

.header__nav__mobile ul {
    list-style-type: none;
}

.header__nav__mobile ul a {
    text-decoration: none;
}

.header__nav__mobile ul li {
    padding: 10px 0;
}
.header__nav__mobile ul li:hover {
    background-color: rgb(231, 104, 0);
}


.header__nav__desktop {
    display: block;
}

.header__nav__desktop ul {
    list-style-type: none;
}

.header__nav__desktop ul li {
    display: inline;
    padding: 0 10px;
}

.header__nav__desktop ul li a {
    color: white;
    text-decoration: none;
    transition: .2s color;
}

.header__nav__desktop ul li a:hover {
    color: rgba(230, 160, 70, 0.952);
}

.material-icons.md-36 {
    font-size: 40px;
}

span.menu-bar, span.menu-close {
    display: none;
    position: relative;
    top: 16px;
    color: white;
    cursor: pointer;
}


.email_lead {
    font-family: 'Noto Serif KR', serif;
    /* font-family: 'Yeseva One', cursive; */
    width: 100%;
    min-height: 600px;
    background-image: url('imagens/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.email_lead_info {
    background-color: rgba(5, 5, 5, 0.836);
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 95%;
}

.email_lead_info h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.email_lead_info input {
    display: block;
    padding: 20px 15px;
    width: 100%;
    height: 30px;
    border: 0;
}


.whoIam {
    padding: 140px 2%;
    
}

.whoIam__description {
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    line-height: 1.6;
    padding: 0 2%;
}

.whoIam__description h2 {
    color: rgb(48, 48, 63);
    font-size: 30px;
    margin-bottom: 40px;
}

.whoIam__photo {
    padding: 0 2%;
}

.whoIam__photo img {
    display: block;
    height: 550px;
    margin: 0 auto;
}

.props {
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 100px 0;
}

.props h2 {
    color: rgb(231, 104, 0);
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

.cols {
    width: 33.333%;
    padding: 0 2%;
    float: left;
    text-align: center;
}

.cols h3, .mySlides h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(231, 104, 0);
    font-size: 25px;
}

.servicos {
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    position: relative;
    padding: 100px 0;
}

.mySlides {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    display: none;
}

.mySlides div {
    max-width: 560px;

    margin: 0 auto;
}

.mySlides div img {
    width: 100%;
}

.servicos__pontos {
    margin-top: 30px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: rgb(231, 104, 0);
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.footer {
    background-color: black;
    color: white;
    font-family: 'Noto Serif KR', serif;
    padding: 20px 0;
    text-align: center;
}


@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@media screen and ( max-width: 890px ){
    .whoIam__description {
        float: none;
        width: 100%;
        margin-bottom: 80px;
    }

    .whoIam__photo {
        float: none;
        width: 100%;
    }
    
    .whoIam__photo img {
        height: 600px;
    }


}


@media screen and (max-width: 768px) {
    .header__nav__desktop {
        display: none;
    }

    span.menu-bar {
        display: block;
    }

    .cols {
        float: none;
        width: 100%;
        margin-top: 60px;
    }

}

@media screen and (min-width: 769px) {
    .header__nav__mobile {
        display: none !important;
    }


}